{% extends "layout.html" %}

{% block title %}数据分析{% endblock %}

{% block content %}


<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
    // 初始化图表
    var myChart = echarts.init(document.getElementById('main'));
    
    // 从Flask模板注入数据
    var data = {{ data|tojson }};
    
    // 配置选项
    var option = {
        title: {
            text: '部门人数统计'
        },
        xAxis: {
            type: 'category',
            data: data.labels
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: data.values,
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(180, 180, 180, 0.2)'
            }
        }]
    };

    // 使用配置项显示图表
    myChart.setOption(option);
</script>

{% endblock %}