<!DOCTYPE html>
<html data-theme="cupcake">
<head>
    <title>My App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    
    
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- 引入自定义 CSS -->
    <link href="../static/main.css" rel="stylesheet" />

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if prompt %}
                // 创建 toast 元素
                var toast = document.createElement('div');
                toast.className = 'toast toast-top toast-end';
                toast.style.position = 'fixed';
                toast.style.top = '1rem';
                toast.style.right = '1rem';
                toast.style.zIndex = '1000'; // 确保 toast 在其他元素之上
                toast.innerHTML = `
                    <div class="alert alert-error">
                        <span>{{ prompt }}</span>
                    </div>
                `;
                document.body.appendChild(toast);

                // 3秒后移除 toast
                setTimeout(function() {
                    document.body.removeChild(toast);
                }, 3000);
            {% endif %}
        });
    </script>
</head>
<body class="bg-base-200 flex items-center justify-center h-screen">
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h1 class="card-title text-center">登录</h1>
            <form action="/login" method="POST">
                <div class="form-control w-full max-w-xs">
                    <label class="label" for="name">
                        <span class="label-text">账号:</span>
                    </label>
                    <input type="text" id="name" name="name" placeholder="请输入账号" class="input input-bordered w-full max-w-xs" required />
                </div>
                <div class="form-control w-full max-w-xs">
                    <label class="label" for="password">
                        <span class="label-text">密码:</span>
                    </label>
                    <input type="password" id="password" name="password" placeholder="请输入密码" class="input input-bordered w-full max-w-xs" required />
                </div>

                <div class="card-actions justify-center mt-4">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>